<div class="container">
  <h2>Edit concert</h2>
  <%= form_for [:venue, @concert, url: root_path] do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <%= f.label :band %>
    <%= f.text_field :band %>
    <%= f.label :logo %>
    <%= f.file_field :logo %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
    <%= f.submit %>
  <% end %>
</div>
