<div class="container">
  <h2 class="center">Edit Concert</h2>
  <div class="opaque-background">
    <div style="padding:20px 100px;">
      <%= form_tag venue_update_concert_path(venue: params[:venue],concert: params[:concert], method: :patch) do%>
        <%= label_tag :date %>
        <%= date_field_tag :date %>
        <%= label_tag :band %>
        <%= text_field_tag :band %>
        <%= label_tag :logo %>
        <br>
        <%= file_field_tag :logo %>
        <br><br>
        <%= label_tag :price %>
        <%= number_field_tag :price %>
        <%= label_tag :genre %>
        <%= text_field_tag :genre %>
        <br>
        <%= submit_tag "Edit Concert", class: "form-submit" %> 
      <% end %>
    </div>
  </div>
</div>
