<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-image">
        <%= image_tag @concert.logo %>
      </div>
      <div class="card-content center venue-card">
        <hr>
        <p class="satisfy-font"><%= @concert.band %></p>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="container opaque-background" style="margin-bottom:10%">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th data-field="Date">Date</th>
        <th data-field="Logo">Logo</th>
        <th data-field="Performer">Performer</th>
        <th data-field="Venue">Venue</th>
        <th data-field="Price">Price</th>
        <th data-field="Quantity">Quantity</th>
        <th data-field=""></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td> <%= @concert.date %> </td>
        <td><%= image_tag(@concert.logo) %></td>
        <td><%= link_to(@concert.band, venue_concert_path(@concert.venue.url, @concert.url)) %></td>
        <td><%= link_to(@concert.venue.name, venue_path(@concert.venue.url)) %></td>
        <td>$<%= @concert.price %></td>
        <td><%= form_for(:order, url: cart_concerts_path(@concert.url)) do |f| %>
          <% if @concert.venue.status == "Approved" %>
              <%= number_field(:order, :quantity) %>
                <%= f.submit "Add to Cart", style: 'color:black'%></td>
              <% end %>
            <% end %>
      </tr>
    </tbody>
  </table>
</div>

