<h2>Thank you for your ticket purchase!</h2>
<div class="container">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th data-field="Concert Date">Concert Date</th>
        <th data-field="Band">Band</th>
        <th data-field="Venue">Venue</th>
        <th data-field="Quantity">Quantity</th>
        <th data-field="Price">Price</th>
        <th data-field="Total">Total</th>
      </tr>
    </thead>

    <tbody>
        <% @orders.last.concert_orders.each do |concert_order| %>
          <tr>
            <td><%= concert_order.concert.date %></td>
            <td><%= concert_order.concert.band %></td>
            <td><%= concert_order.concert.venue.name %></td>
            <td><%= concert_order.quantity %> </td>
            <td><%= concert_order.price %> </td>
            <td><%= concert_order.subtotal %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

<%=raw @barcode_for_html.to_html %>
</div>

