  <h2 class="center satisfy-font white-text black-shadow" style="text-decoration: underline; margin-bottom: -1%;">Ticket Maestro</h2>
  <h5 class="center satisfy-font white-text">Please review your cart and click submit for payment</h5>

<div class="container opaque-background" style="margin-bottom:10%">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Logo">Logo</th>
          <th data-field="Performer">Performer</th>
          <th data-field="Venue">Venue</th>
          <th data-field="Price">Price</th>
          <th data-field="Quantity">Quantity</th>
      </tr>
    </thead>

    <tbody>
      <% @concerts.each do |concert, quantity| %> 
        <tr>
          <td><%= concert.date %></td>
          <td><%= image_tag(concert.logo) %></td>
          <td><%= link_to(concert.band, venue_concert_path(concert.venue.url, concert.url)) %></td>
          <td><%= link_to(concert.venue.name, venue_path(concert.venue.url)) %></td>
          <td>$<%= concert.price %></td>
          <td class="quantity"><i class="material-icons">
          <%= button_to "remove", cart_concert_path(concert.url, edit_action: "subtract"), method: :patch, class: "btn-floating" %>
          </i><%= concert.quantity %>
        <i class="material-icons">
        <%= button_to "add", cart_concert_path(concert.url, edit_action: "add"), method: :patch, class: "btn-floating"%>
        </i></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <h3 class="cart-totals">Total = $188</h3>
  <h5 class="cart-totals"><i class="material-icons">thumb_up</i> <%= link_to("Checkout!", cart_path)%></h5>
</div>



<!-- <div class="row">
  <div class="col m7 offset-m3">
    <table id="checkout">
      <thead>
        <tr class="checkout_header">
            <th>Total:</th>
            <th class="cart_total"><%= number_to_currency @cart.total %></th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td><%#= link_to "Keep Shopping", chips_path, class: "btn" %></td>
          <td><%# if current_user %>
            <%#= button_to "Place Order", new_order_path, class: "btn", method: :get %>
          <%# else %>
            <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Place Order</a>
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <p>
                    Please login before placing an order.
                  </p><br>
                  <div><%#= form_for :session, url: login_path do |f| %>
                    <%#= f.label :username %>
                    <%#= f.text_field :username%>
                    <%#= f.label :password %>
                    <%#= f.password_field :password %>
                    <%#= f.submit "Login" %>
                  <%# end %></div>
                  <p> Don't have an account? <%#= link_to "Create one here.", new_user_path %> </p>
                </div>
              </div>
          <%# end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->