<h2 class="center" style="text-decoration: underline; margin-bottom: -1%;">Ticket Maestro</h2>
<h5 class="center satisfy-font white-text">Please review your cart and click submit for payment</h5>

<div class="container opaque-background" style="margin-bottom:10%">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
      </p>
      <th data-field="Date">Date</th>
      <th data-field="Logo">Logo</th>
      <th data-field="Performer">Performer</th>
      <th data-field="Venue">Venue</th>
      <th data-field="Price">Price</th>
      <th data-field="Quantity">Quantity</th>
      <th data-field="Subtotal">Subtotal</th>
      <th data-field="Remove">Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
    <tr>
      <td><%= concert.date %></td>
      <td><%= image_tag(concert.logo) %></td>
      <td><%= link_to(concert.band, venue_concert_path(concert.venue.url, concert.url)) %></td>
      <td><%= link_to(concert.venue.name, venue_path(concert.venue.url)) %></td>
      <td>$<%= concert.price %></td>
      <td><%= concert.quantity %></td>
      <td>$<%= concert.subtotal %></td>
      <td><%= link_to("remove", cart_concert_path(concert.url), method: :delete) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h3 class="cart-totals">Total = <%=number_to_currency(@cart.total) %></h3>
<h5 class="cart-totals"><i class="material-icons">thumb_up</i>

  <% if current_user %>
  <%= link_to("Checkout!", new_order_path)%>
  <% else %>
  <%= link_to("Create account to checkout", new_user_path)%>
  <% end %></td>
</h5>
</div>
