<h2 style="color: white">  Edit User Profile for <%= @user.username %></h2>
<div class="container opaque-background satisfy-font " >
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username%>
  <%= f.label :picture %>
  <%= f.text_field :picture%>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Update Account" %>
<% end %>
</div>
