<div class="container">
  <h2> Edit User Profile for <%= @user.username %></h2>
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username%>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :image  %>
    <br>
    <%= f.file_field :image %>
    <br><br>
    <%= f.submit "Update Account" %> 
  <% end %>
</div>
