<div class="container">
  <h2>Checkout</h2>

  <%= form_for @order do |f| %>
    <%= f.label "Please enter an email address for your electronic tickets" %>
    <%= f.text_field :address, style:"font-size:1.5em; color:white" %>
    <%= f.hidden_field :total_price, value: @total%>
    <%= f.submit "Checkout", class: "btn" %>
   <% end %>
</div>
