<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-image">
        <img src="http://musictour.eu/data//uploads/media/halls/893/f4a4def50c6367fdeafadf41efa9e387.jpg">
        <span class="card-title satisfy-font" style="font-size:3em;text-shadow:1px 1px black;">Bluebird Theater</span>
      </div>
      <div class="card-content center venue-card">
        <p class="satisfy-font">1510 Alameda St. Denver, Colorado 80209</p>
        <hr>
        <p class="satisfy-font">Local hipsters discovered this place, and Seattle.</p>

      </div>
    </div>
  </div>
</div>

<div class="container" style="opacity:0.8; background-color: black; color:white;">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Logo">Logo</th>
          <th data-field="Performer">Performer</th>
          <th data-field="Venue">Venue</th>
          <th data-field="Tickets">Tickets</th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td>02/09/16</td>
        <td><%= image_tag("http://assets.rollingstone.com/assets/images/list/rsz-homepage-largedb5c5b0e-1354052522.jpg") %></td>
        <td><%= link_to("Edward Sharpe and the Magnetic Zeros", edward_path) %></td>
        <td><%= link_to("BlueBird", bluebird_path) %></td>
        <td>Get Tickets!</td>
      </tr>

      <tr>
        <td>02/10/16</td>
        <td><%= image_tag("http://images.sk-static.com/images/media/profile_images/artists/348455/card_avatar") %></td>
        <td>The Avett Brothers</td>
        <td>Red Rocks</td>
        <td>Get Tickets!</td>
      </tr>

      <tr>
        <td>02/10/16</td>
        <td><%= image_tag("http://cdn.redrocksonline.com/m83-tickets_06-01-16_23_56900160ac4b2.jpg?mtime=1452630988") %></td>
        <td>M83</td>
        <td>The Ogden</td>
        <td>Get Tickets!</td>
      </tr>

      <tr>
        <td>02/10/16</td>
        <td><%= image_tag("http://cdn.redrocksonline.com/string-cheese-incident-tickets_07-17-16_23_56afa7db6ab0b.jpg?mtime=1454365841") %></td>
        <td>The String Cheese Incident</td>
        <td>Red Rocks</td>
        <td>Get Tickets!</td>
      </tr>

    </tbody>
  </table>
</div>
    <div class="col s5 offset-s3">
      <ul class="pagination center">
        <li class="waves-effect"><ahref="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><ahref="#!">1</a></li>
        <li class="waves-effect"><ahref="#!">2</a></li>
        <li class="waves-effect"><ahref="#!">3</a></li>
        <li class="waves-effect"><ahref="#!">4</a></li>
        <li class="waves-effect"><ahref="#!">5</a></li>
        <li class="waves-effect"><ahref="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>

</div>
