  <h2 class="center satisfy-font white-text black-shadow" style="text-decoration: underline; margin-bottom: -1%;">Ticket Maestro</h2>
  <h5 class="center satisfy-font white-text">Please review your cart and click submit for payment</h5>

<div class="container opaque-background" style="margin-bottom:10%">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Logo">Logo</th>
          <th data-field="Performer">Performer</th>
          <th data-field="Venue">Venue</th>
          <th data-field="Price">Price</th>
          <th data-field="Quantity">Quantity</th>
      </tr>
    </thead>

    <tbody>
      <%= @concerts.each do |concert, quantity| %> 
        <tr>
          <td>concert.date</td>
          <td><%= image_tag(concert.logo) %></td>
          <td><%= link_to(concert.band, venue_concert_path(concert.venue.url, concert.url)) %></td>
          <td><%= link_to(concert.venue.name, venue_path(concert.venue.url)) %></td>
          <td>$<%= concert.price %></td>
          <td>Quantity4</td>
        </tr>
      <% end %> 
    </tbody>
  </table>
  <h3 class="cart-totals">Total = $188</h3>
  <h5 class="cart-totals"><i class="material-icons">thumb_up</i> <%= link_to("Checkout!", cart_path)%></h5>

</div>