<div class="animatedParent">
  <div class="row valign-wrapper animated fadeInUp">
    <%= form_for :search, url:'', html: {class: "col s12 search-bar"} do |f| %>
    <%= f.text_field "City" , placeholder: "City", class:"col s3 search-item", id:"city-search"%>
    <%= f.text_field "Band" , placeholder: "Band", class:"col s3 search-item", id:"city-search" %>
    <%= f.date_field "Date" , placeholder: "Date", class:"col s3 search-item", id:"city-search" %>
    <%= f.text_field "Genre" , placeholder: "Genre", class:"col s3 search-item", id:"city-search" %>
    <%= f.submit "bob", style:"visibility:hidden", id:'search' %>
    <% end %>
  </div>
</div>
<br>
<div class="container opaque-background">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Logo">Logo</th>
          <th data-field="Performer">Performer</th>
          <th data-field="Genre">Genre</th>
          <th data-field="Venue">Venue</th>
          <th data-field="Tickets">Tickets</th>
      </tr>
    </thead>
<h2 class="center" style="text-decoration:underline;">Concerts</h2>
    <tbody>
      <% @concerts.each do |concert| %>
        <tr>
          <td> <%= concert.date %> </td>
          <td> <%= image_tag concert.logo %> </td>
          <td> <%= link_to concert.band, venue_concert_path(concert.venue.url, concert.url) %></td>
          <td> <%= concert.category.description.capitalize %></td>
          <td> <%= link_to concert.venue.name, venue_path(concert.venue.url) %></td>
          <td> <%= link_to "Get Tickets!", venue_concert_path(concert.venue.url, concert.url) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="pagination center">
    <%= will_paginate @concerts %>
</div>
