<div class="animatedParent">
  <div class="row valign-wrapper animated fadeInUp" > <!-- style="height:500px;background-image:url(http://www.darindaymusic.co.uk/wp-content/uploads/disco.jpg);margin-top:30px;padding-left:70px;padding-right:70px;background-size:cover"> -->
    <%= form_for :search, url:'/search', html: {class: "col s12 search-bar"} do |f| %>
    <%= f.text_field "City" , placeholder: "City", class:"col s3", id:"city-search"%>
    <%= f.text_field "Band" , placeholder: "Band", class:"col s3", id:"city-search" %>
    <%= f.date_field "Date" , placeholder: "Date", class:"col s3", id:"city-search" %>
    <%= f.text_field "Genre" , placeholder: "Genre", class:"col s3", id:"city-search" %>
    <%#= f.text_field "Genre" , placeholder: "Genre", class:"col s3", id:"city-search" %>
    <%#= select_tag "Specialties", options_from_collection_for_select(all_specialties, "id", "name"), value: current_developer.specialty.name, id: "form-value"%>
    <%#= select_tag( :category_id, options_from_collection_for_select(Category.all, "id", "description", '7'), placeholder: 'Genre', value: 'bob', class:"col s3",id: "form-value")%>
    <%= f.submit "bob", style:"visibility:hidden" %>
    <% end %>
  </div>
</div>
<br>

<div class="container opaque-background">
  <table class="bordered highlight responsive-table">
    <thead>
      <tr>
          <th data-field="Date">Date</th>
          <th data-field="Logo">Logo</th>
          <th data-field="Performer">Performer</th>
          <th data-field="Genre">Genre</th>
          <th data-field="Venue">Venue</th>
          <th data-field="Tickets">Tickets</th>

      </tr>
    </thead>

    <tbody>

      <% @concerts.each do |concert| %>
        <tr>
          <td> <%= concert.date %> </td>
          <td> <%= image_tag concert.logo %> </td>
          <td> <%= link_to concert.band, venue_concert_path(concert.venue.url, concert.url) %></td>
          <td> <%#= concert.category.description.capitalize %></td>
          <td> <%= link_to concert.venue.name, venue_path(concert.venue.url) %></td>
          <td> <%= link_to "Get Tickets!", venue_concert_path(concert.venue.url, concert.url) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="pagination center">
    <%= will_paginate @concerts %>
</div>
