<div class="container">
  <h2 class="center">Update Venue</h2>
<div class="opaque-background">
  <div style="padding:20px 100px;">
    <%= form_for [:admin, @venue] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :image, "Attach an Image" %><br><br>
      <%= f.file_field :image %><br><br>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :status %>
      <br>
      <%= f.radio_button(:status, 'Approved') %>
      <%= f.label :status, 'Approved', value:'Approved', checked: @venue.Approved? %>
      <br>
      <%= f.radio_button(:status, 'Declined') %>
      <%= f.label :status, 'Declined', value:'Declined', checked: @venue.Declined?  %>
      <br>
      <%= f.submit class: "btn" %>
  <% end %>
  </div>
</div>
<br>
</div>
