
  <h2 class="center satisfy-font white-text black-shadow" style="text-decoration: underline; margin-bottom: -1%;">Venues</h2>
  <!-- <h5 class="center satisfy-font white-text">Manage venues</h5> -->
  <h5 class="center" style="margin:2% 0%;"><%= link_to("Add a Venue", new_admin_venue_path) %></h5>

<div class="container opaque-background" >
  <table class="bordered highlight responsive-table centered">
    <thead>
      <tr>
          <th data-field="Name">Name</th>
          <th data-field="Logo">Logo</th>
          <th data-field="Location">Location</th>
          <th data-field="Status">Status</th>
          <th data-field="Edit">Edit</th>
      </tr>
    </thead>

    <tbody>
      <% @venues.each do |venue| %>
        <tr>
          <td><%= link_to(venue.name, venue_path(venue.url)) %></td>
          <td><%= image_tag(venue.image) %></td>
          <td><%= "#{venue.address}, #{venue.city}, #{venue.state}" %></td>
          <td><%= link_to(venue.status, edit_admin_venue_path(venue)) %></td>
          <td><%= link_to("edit", edit_venue_path(venue)) %></td>
          <% if current_user.platform_admin? %>
            <td><%= link_to("Manage", "#") %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br> 
<div class="pagination center">
  <%= will_paginate @venues %>
</div>

</div>
